body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  background: linear-gradient(to bottom, #87ceeb, #f0f8ff);
}

#gameCanvas {
  /* background: blue; */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#collisionCanvas {
  opacity: 0;
}
